<!doctype html>
<html>
<head><link rel="stylesheet" href="stylesheets/easter.css"></head>
<body>
<div style="width=600px; height:1300px;">
  <div id="r"></div>
  <div id="o"></div>
  <div id="y"></div>
  <div id="g"></div>
  <div id="b"></div>
  <div id="i"></div>
  <div id="v"></div>
</div>
</body>
</html>