<!DOCTYPE html>
<html>
<body>

<H2> Our Team Members </H2>
<p>
Nathan
<!-- there should be a folder for all of the images, I am putting this with the icon in a pre-existin folder --> <img src="/images/IMG_2224.JPG" alt="HTML5 Icon" style="width:480px;height=640px;">
</p>

<p>
Ben
<img src="/images/IMG_2226.JPG" alt="HTML5 Icon" style="width:480px;height=640px;">
</p>

<p>
Meghan
<img src="/images/IMG_2228.JPG" alt="HTML5 Icon" style="width:480px;height=640px;">
</p>

<p>
Mike
<img src="/images/IMG_2229.JPG" alt="HTML5 Icon" style="width:480px;height=640px;">

</p>
</body>
</html>